@import "src/styles/responsive";
.main-layout {
  display: flex;
  height: 100vh;
  width: 100%;

  .ant-layout-sider {
    background: var(--nav-bar-bg);
  }

  .view-small-screen{
    transform: translateX(0);
    display: block !important;
  }
  &__sidebar {
    -webkit-transition: 0.3s;
    transition: 0.3s !important;
    @include Responsive(MIN){
      transform: translateX(-100%);
      z-index: 996;
      position: fixed !important;
    }
    @include Responsive(SMD){
      transform: translateX(0);
      z-index: 0;
      position: relative !important;
    }
    top: 0;
    bottom: 0;
    flex: 1 !important;
    background-size: cover !important;
    background-position: center !important;

    &__container {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
      opacity: 1;
      position: absolute;
      background: var(--nav-bar-bg-rgb);
      transition: 0.3s;
    }

    &__container::-webkit-scrollbar {
      display: none;
    }
  }

  &__content {
    position: relative;
    flex: 1 !important;
    background: var(--nav-bar-bg);
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;

    &__container {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
      opacity: 1;
      position: absolute;
      background: var(--nav-bar-bg-rgb);
      transition: 0.3s;

      .width-header{
        @include Responsive(MIN){
          width: 100%;
        }
        @include Responsive(SMD){
          width: calc(100% - 80px) !important;
        }
      }

      &__header {
        @include Responsive(MIN){
          width: 100%;
        }
        @include Responsive(SMD){
          width: calc(100% - 230px);
        }
        padding: 0 5px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 60px;
        position: fixed;
        top: 0;
        right: 0;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        border-bottom: 1px solid rgba(125, 125, 125, 0.5);
        z-index: 997;

        &__left {
          svg {
            color: var(--text-color) !important;
          }

          svg:hover {
            cursor: pointer;
          }
        }

        &__right {
          margin-right: 20px;
          align-items: center;
          gap: 15px;
          display: flex;

          svg {
            color: var(--icon-color) !important;
          }
          svg:hover {
            cursor: pointer;
          }
        }
      }

      &__main {
        padding: 15px 15px 60px;
        margin-top: 60px;
      }
    }

    &__container::-webkit-scrollbar {
      display: none;
    }
  }
}